<h1<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">

    <title>维修保养记录查询</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css" >
    <style type="text/css">
        body {
            padding:10px;
        }
    </style>
    <meta charset="utf-8">
</head>
<body>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr class="success">
            <th>序号</th>
            <th>车牌号</th>
            <th>添加时间</th>
            <th>提醒时间</th>
            <th>收费总价</th>
            <th>收费详细</th>
            <th>公里数</th>
            <th>保养项目</th>
            <th>备注</th>
        </tr>
        </thead>
        <tbody>
        <%- value %>
        </tbody>
    </table>
</div>
</body>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
</html>