<div class="hero-unit">
  <h1>欢迎使用 <%= title %></h1>
  <p>这是一款提供给个人和小型汽修厂商管理客户和维修记录的小型工具</p>
  <p>
    <a class="btn btn-primary btn-large" href="/login">登录</a>
    <a class="btn btn-large" href="/reg">注册</a>
  </p>
</div>

<div class="row">
  <div class="span5">
    <p>1.完全免费,个人兴趣爱好</p>
    <p>2.iOS,安卓和web端都有,一个账号可随意切换同步数据</p>
    <p>3.更多功能尽情期待!</p>
    <p>4.如有疑问可加群:485508197</p>
  </div>

</div>
