<h1<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <title>公告栏</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css" >
    <style type="text/css">
        body {
            padding:10px;
        }
    </style>
    <meta charset="utf-8">
</head>
<body>

<!--<div style="alignment:center;width:100%;text-align:center;padding-top: 20px">-->
    <!--<span class="label label-success" style="font-size: 30px">最新公告</span>-->
<!--</div>-->
<!--<br>-->


<div style="background:#FAFAFA;
            font-size: 14px;
            padding-top:1px;
            height: 100%;
            border-radius:5px;
            text-indent:1em;
            line-height:100%">
    <%- value %>
</div>
</body>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
</html>