<h1<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>统计</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css" >
    <style type="text/css">
        body {
            padding:10px;
        }
    </style>
    <meta charset="utf-8">
</head>
<body>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr class="success">
            <th>序号</th>
            <th>添加时间</th>
            <th>提醒时间</th>
            <th>收费总价</th>
            <th>收费详细</th>
            <th>公里数</th>
            <th>保养项目</th>
            <th>备注</th>
        </tr>
        </thead>
        <tbody>
        <%- value %>
        </tbody>
    </table>
</div>
</body>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
</html>